.heading-text{
    color: darkslategray;
}
.text-white{
    color: white;
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: #e9e9eb;
}
.bg-lightDark{
    background-color: #1f2732;
}